[Desktop Entry]
Name=Start DAB PAD Encoder for station 3
Exec=konsole --hold -e bash -c "$(dirname '%k')/../configs/start_pad_encoder_3.sh"
Type=Application
Terminal=false
Icon=utilities-terminal
