[Desktop Entry]
Name=Start DAB Station 2 (Trendy Radio)
Exec=konsole --hold -e bash -c "$(dirname '%k')/../configs/start_station_2.sh"
Type=Application
Terminal=false
Icon=utilities-terminal
