[Desktop Entry]
Name=Start DAB Station 3 (1Mix Radio - Trance)
Exec=konsole --hold -e bash -c "$(dirname '%k')/../configs/start_station_3.sh"
Type=Application
Terminal=false
Icon=utilities-terminal
