[Desktop Entry]
Name=Start DAB PAD Encoder for station 2
Exec=konsole --hold -e bash -c "$(dirname '%k')/../configs/start_pad_encoder_2.sh"
Type=Application
Terminal=false
Icon=utilities-terminal
