[Desktop Entry]
Name=Start DAB Multiplex
Exec=konsole -e bash -c "$(dirname '%k')/start_multiplex.sh"
Type=Application
Terminal=false
Icon=utilities-terminal
