[Desktop Entry]
Name=Start DAB Station 3 (1Mix Radio - Trance)
Exec=konsole -e bash -c "$(dirname '%k')/start_station_3.sh"
Type=Application
Terminal=false
Icon=utilities-terminal
